input{
    box-sizing: border-box;
}
header{
    font-size: 20px; 
    font-display: swap;
    text-align: center;
    top:0px;
}
#myNovel{
    background-color: #eb9fc9;
    border-style: outset;
    border-width: 10px;
    border-color: rgb(85, 79, 79);
    padding: 10px;
}
th td {
    padding: 2px;
}
#open{background-color: rgb(102, 61, 8);
    color: white;
    padding: 18px 18px;
    border-radius: 15px;
    border: crimson;
    cursor: pointer;
    opacity: 0.5;
    position: fixed;
    bottom: 23px;
    right: 40px;
    width: 200px;
    font-size: 18px;

}
/*.popup{
    display: none;
    position: fixed;
    bottom: 85px;
    left: 28px;
    border: 5px solid #d36f6f;
    z-index: 9;
    border-radius: 10px;

}*/
#form-container{
    max-width: 300px;
    padding: 20px 25px 10px 30px;
    background-color: rgb(155, 148, 148);
    border-radius: 10px;

}
#form-container h1{
    margin-top:-6px;
}
#form-container input[type=text], #form-container input[type=number] {
    width: 100%;
    padding: 12px;
    margin: 5px 0 22px 0;
    border: double;
    background: #f3a4a4;
    border-radius: 10px;
}
#form-container input[type=text]:focus, #form-container input[type=number]:focus {
    background-color: rgb(100, 93, 93);
    outline: none;
  }
  
  td {
    text-align: center;
  }

  #form-container p {
    text-align: center;
  }

  #form-container input[type=checkbox] {
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  #form-container .btn {
    background-color: rgb(206, 209, 13);
    text-align: center;
    color: rgb(185, 62, 62);
    padding: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    margin-left: 0;
  }
  
  #form-container .btn-close {
    background-color: rgb(112, 17, 41);
    border: none;
    border-radius: 10px;
    float: left;
    margin-top: -5px;
    margin-left: -10px;
  }
  
  #form-container .btn:hover, #openTheForm:hover {
    opacity: 0.8;
  }